@import url(./__container/comments__container.css);
@import url(../comment/comment.css);

.comments {
    max-width: 1184px;
    margin: 128px auto;
    color: #FFFFFF;
}

@media screen and (max-width : 1024px){
    .comments{
        max-width: 928px;
    }
}

@media screen and (max-width : 768px){
    .comments{
        max-width:660px;
        display: flex;
        align-items: center;
        flex-direction: column;
    }
}

@media screen and (max-width : 375px){
    .comments{
        max-width:343px;
    }
}

@media screen and (max-width : 320px){
    .comments{
        max-width:288px;
    }
}