.place__title {
    /* border: 0.3px solid red; */
    max-width: 457px;
    grid-area: title;
    margin: 0;
    align-self: end;
    font-weight: 900;
    font-size: 72px;
    text-align: left;
} 

@media screen and (max-width: 1026px) {
    .place__title {
        max-width: 440px;
    }
}

@media screen and (max-width : 769px) {
    .place__title {
        max-width: 320px;
        font-size: 42px;
        line-height: 46px; 
    }
}

@media screen and (max-width: 620px) {
    .place__title {
        order: 1;
        max-width: 94%;
        margin-bottom: 32px;
    }
}

@media screen and (max-width: 460px) {
    .place__title {
        font-size: 32px;
        line-height: 35px;
    }
}