@import url(./__item/photo-grid__item.css);

.photo-grid {
    /* max-width: 1184px; */
    max-width: 90%;
    margin: 102px auto;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(284px, 1fr));
    grid-template-rows: repeat(3, 1fr);
    grid-gap: 16px;
    grid-auto-rows: 1fr 1fr;
}