.place__image {
    grid-area: photo;
    -o-object-fit: cover;
       object-fit: cover;
}

@media screen and (max-width: 1026px) {
    .place__image {
        max-width: 440px;
    }
}

@media screen and (min-width : 625px) and (max-width : 769px) {
    .place__image {
        max-width: 340px;
    }
}

@media screen and (max-width: 625px) {
    .place__image {
        max-width: 100%;
        margin: 0 0 24px; 
        -o-object-fit: contain;
           object-fit: contain;
    }
}
