.comment__author {
    margin-bottom: 0;
    font-weight: 900;
    font-size: 14px;
    line-height: 24px;
}

@media screen and (max-width : 780px) {
    .comment__author {
        text-align: center;
        margin-top: 12;
        margin-bottom: 24px;
    }
}

@media screen and (max-width : 321px) {
    .comment__author {
        margin-top: 16px;
        margin-bottom: 24px;
        grid-row: 2 / 3;
    }
}