@import url(./__image/lead__image.css);
@import url(./__caption/lead__caption.css);
@import url(./__title/lead__title.css);
@import url(./__subtitle/lead__subtitle.css);

.lead {
    max-width: 984px;
    margin: 0 auto;
    padding-top: 3rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    color: #FFFFFF;
    /* margin-top: calc(100px - 52px); */
    /* background-color: #2A2C2F; */
}