.header__logo {
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    -ms-grid-column-align: center;
        justify-self: center;
}

@media screen and (max-width : 380px){
    .header__logo {
        max-width: 142px;
        max-height: 42px;
    }
}

@media screen and (max-width : 456px) {
    .header__logo {
        max-width: 161px;
    }
}