.photo-grid__item {
    width: 100%;
    min-height: 188px; 
    -o-object-fit: cover; 
       object-fit: cover;
}

@media screen and (max-width: 350px) {
    .photo-grid__item {
        max-height: 192px;
    }
}