.photo-grid__item {
    width: 100%;
    min-height: 188px; 
    -o-object-fit: cover; 
       object-fit: cover;
}

.photo-grid__item:hover {  
    -webkit-transition: .2s;  
    -o-transition: .2s;  
    transition: .2s;     
    opacity: .5;
}