.video__duration{
    margin: 28% 0 0 30px;
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 13px;
    letter-spacing: 0.3em;
    grid-column: 1/1;
    grid-row: 2;
    align-self: end;
    z-index: 10;
}

@media screen and (max-width: 780px) {
    .video__duration {
        font-weight: 500;
        font-size: 12px;
        line-height: 13px;
    }

    .video__duration-m {
        grid-row: 3;
        align-self: start;
        margin-top: 0;
    }
}