@import url(./_position/video__duration_position_left.css);
@import url(./_position/video__duration_position_right.css);

.video__duration{
    margin: 28% 0 0 30px;
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 13px;
    letter-spacing: 0.3em;
    grid-column: 1/1;
    grid-row: 2;
    align-self: end;
    z-index: 10;
}