.lead__image {
    width: 100%;
    margin-top: 4.8rem;
    -o-object-fit: contain;
       object-fit: contain;
}

@media screen and (max-width: 1024px){
    .lead__image {
        margin-top: 65px;
        max-width: 100%    
    }
}

@media screen and (min-width: 0px) and (max-width: 692px) {
    .lead__image {
        margin-top: 0;
    }
}