.intro__text {
    list-style: none;
    padding: 0;
    margin-top: 28px;
    font-size: 13px;
    line-height: 20px;
}

@media screen and (max-width: 1024px) {
    .intro__text {
        max-width: 383px;
        margin-bottom: 0;
        margin-top: 22px;
    }
}

@media screen and (max-width: 385px) {
    .intro__text {
      font-size: 16px;
      line-height: 27px;
    }
}