.comments__text {
    margin-left: 20px;
    margin-right: 30px;
}

/* .comments__text-normal {
    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 24px;
    margin-top: 42px;
    max-width: 95%;
}

.comments__text-bold {
    font-family: Inter;
    font-style: normal;
    font-weight: 900;
    font-size: 14px;
    line-height: 22px;
    margin-top: 24px; 
} */