@import url(./__title/intro__title.css);
@import url(./__text/intro__text.css);
@import url(./__text-item/intro__text-item.css);
@import url(./__content-row/intro__content-row.css);
@import url(./__span/intro__span.css);

.intro {
    color: #FFFFFF;
    max-width: 43%;
    margin-top: 80px;
    margin-left: calc((100% - 984px) / 2);
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

@media screen and (max-width : 1255px) {
    .intro {
        max-width: 90%;
        margin: auto;
    }
}

@media screen and (max-width : 1030px) {
    .intro {
        max-width: 928px;
        margin: auto;
    }
}

@media screen and (max-width : 980px) {
    .intro {
        max-width: 95%;
        margin: auto;
    }
}

@media screen and (max-width : 771px) {
    .intro {
        max-width: 720px;
        margin: auto;
    }
}

@media screen and (max-width : 735px) {
    .intro {
        max-width: 95%;
        margin: auto;
    }
}