.cover__image {
    max-width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    opacity: .7;
    z-index: 0;
    -o-object-fit: cover;
       object-fit: cover;
}

.cover__image:hover {      
    opacity: .5;
    -webkit-transition: .2s;
    -o-transition: .2s;
    transition: .2s;
}
  
@media screen and (max-width: 980px) {
    .cover__image {
       position: relative;
    }
}

  @media screen and (max-width: 380px) {
    .cover__image {
        max-width: 100%;
    }
}