.video__subtitle {
    margin: 18px 30px 30px;
    font-style: normal;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 15px;
    z-index: 10;
    grid-column: 1/1;
    grid-row: 4;
    align-self: center;
}

@media screen and (max-width: 780px) {
    .video__subtitle {
        font-size: 14px;
        line-height: 15px;
        margin-top: 12px;
        margin-bottom: 24px;
        grid-column: 1 / 3 ;
    }
}