.lead__caption {
  font-size: 10px;
  line-height: 12px;
  letter-spacing: 0.15em;
  text-transform: uppercase;
  margin: 17px 0;
}

@media screen and (max-width : 770px) {
  .lead__caption {
    margin-top: 16px;
    padding-left: 24px;
  }
}

@media screen and (max-width : 390px) {
  .lead__caption {
    margin-top: 8px;
  }
}