.section-title_block_video {
    max-width: 800px;
}

@media screen and (max-width : 780px) {
    .section-title_block_video {
        padding-left: 70px;
        padding-right: 70px;
        margin: 0;
    }
}

@media screen and (max-width : 570px) {
    .section-title_block_video {
        padding: 0;
    }
}