@import url(./__copyright/footer__copyright.css);
@import url(./__link/footer__link.css);
@import url(./__links/footer__links.css);

.footer {
    background-color: #2A2C2F;
    max-width: 1184px;
    min-width: 320px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-content: center;
    margin: 0 auto;
    padding-bottom: 48px;
    color: #fff;
}

@media screen and (max-width : 1024px){
    .footer{
        max-width:929px;
    }
}

@media screen and (max-width : 768px){
    .footer{
        max-width:722px;
        padding-bottom: 24px;
    }
}

@media screen and (max-width : 375px){
    .footer{
        display: flex;
        flex-direction: column;
    }
    
}